@mixin btn_pass_the_test($background, $color) {
  background: $background;
  border: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  padding: 13px 40px;
  color: $color;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    color: #8e8e8e;
    background: #dadada;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
  }
}
