@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Roboto:wght@300;900&family=Yeseva+One&display=swap");
@import "./maxins.scss";
@import "./css_reset.scss";

.container {
  max-width: 1400px;
  margin: 0 15px 0 15px;
}

.container_question {
  max-width: 576px;
  margin: 0 15px 0 15px;
}

.main {
  background: url("../img/rain_bk2.webp") no-repeat;
  background-size: cover;
  padding: 46px 0 11px 0;
}

.main_menu {
  position: fixed;
  top: 0;
  z-index: 1;
  left: 0;
  height: 46px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #181818;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .container_main_menu {
    display: flex;
    align-items: center;

    .hidden_box_header {
      margin-left: 20px;
      align-items: center;
      display: none;

      .img_nav_rain {
        width: 48px;
        margin-right: 15px;
      }

      .title_nav_test,
      .title_ready {
        display: none;
        font-family: "Yeseva One";
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: #ffc700;
      }
      .title_ready {
        font-size: 20px;
      }

      &.visible_title_nav_test {
        display: flex;
        .title_nav_test {
          display: block;
        }
      }

      &.visible_title_ready {
        display: flex;
        .title_ready {
          display: block;
        }
      }
    }
  }

  .burger_btn {
    background: none;
    border: none;
    z-index: 1;
    width: 30px;
    height: 25px;
    position: relative;
    cursor: pointer;

    &::before,
    &:after,
    & > span {
      position: absolute;
      width: 100%;
      height: 3px;
      background: #dadada;
      top: 0;
      left: 0;
    }

    &::before {
      content: "";
    }

    & > span {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
    }

    &:after {
      content: "";
      top: auto;
      bottom: 0;
    }

    &.active {
      align-self: flex-end;

      &::before {
        background: #f4ce0c;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
      }

      & > span {
        background: #f4ce0c;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
      }

      &::after {
        background: #f4ce0c;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
      }
    }
  }

  .menu_collapse {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    max-width: 576px;
    width: 100%;
    height: 100%;
    background: #181818;
    padding: 100px 23px 23px 23px;
    flex-direction: column;
    gap: 27px;

    li a {
      text-decoration: none;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      font-family: "Roboto";

      &:hover {
        color: #f4ce0c;
      }
    }

    &.active {
      display: flex;
    }
  }
}

.container_main {
  text-align: center;

  .text_top {
    font-family: "PT Serif";
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    margin-top: 27px;
  }

  .title_main {
    font-family: "Yeseva One";
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #ffc700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 27px;
  }

  .text_bottom {
    font-family: "PT Serif";
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    text-transform: lowercase;
    color: #ffffff;
    margin-top: 22px;

    .text_yellow {
      color: #ffc700;
    }
  }

  .more_btn {
    display: inline-block;
    margin-top: 11px;
    padding-top: 16px;
    position: relative;

    svg {
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      position: absolute;
      display: inline-block;
      padding: 5px;
      width: 7px;
      height: 7px;
      background: #ffffff;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }

    span {
      font-family: "PT Serif";
      font-weight: 400;
      font-size: 10px;
      line-height: 11px;
      text-align: center;
      text-transform: lowercase;
      color: #ffffff;
    }
  }

  .pass_the_test_btn {
    display: block;
    margin: 0 auto;
    @include btn_pass_the_test(
      radial-gradient(50% 50% at 50% 50%, #ffc700 0%, #ffc700 100%),
      #0d0c11
    );
  }

  .img_brain {
    display: inline-block;
    max-width: 100%;
  }
}

.info_test_section {
  background: url("../img/section_info_back.webp") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 43px 0 32px 0;
}

.container_info_test {
  .text_info {
    background: radial-gradient(
      50.34% 50.29% at 48.75% 49.71%,
      #2950c2 0%,
      rgba(38, 91, 199, 0.96) 40.62%,
      rgba(39, 98, 187, 0) 85.42%
    );
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    font-family: "Yeseva One";
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #ffffff;

    .icon {
      fill: #ffffff;
      display: block;
      width: 23px;
      height: 23px;
    }

    .icon + .icon {
      margin-left: auto;
    }

    .icon:first-child {
      margin-bottom: 15px;
    }
  }
}

.additionally_info_test {
  background: #ffffff;
  padding: 40px 0;
}

.container_addt_info_test {
  text-align: center;

  .text_adddt_info {
    max-width: 500px;
    font-family: "PT Serif";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #272727;
    margin: 0 auto;

    .bold {
      font-weight: 700;
      text-transform: uppercase;

      .lovercase {
        text-transform: lowercase;
      }
    }
  }

  .img_brain_structure {
    display: inline-block;
    margin-top: 38px;
    width: 100%;
    max-width: 500px;
  }

  .pass_the_test_btn {
    display: block;
    margin: 43px auto 0 auto;
    @include btn_pass_the_test(
      radial-gradient(50% 50% at 50% 50%, #ffc700 0%, #ffc700 100%),
      #0d0c11
    );
  }
}

.footer {
  background: url("../img/rain_bk2.webp") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 56px 0 13px 0;
}

.container_footer {
  .text_top {
    max-width: 500px;
    margin: 0 auto;
    font-family: "Merriweather";
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;

    .text_yellow {
      color: #ffc700;
    }
  }

  .text_transparent_box {
    background: rgba(243, 243, 242, 0.8);
    border-radius: 20px;
    padding: 29px 14px;
    max-width: 500px;
    margin: 20px auto 0 auto;
    font-family: "Merriweather";
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #181818;

    .bold_text {
      font-weight: 700;
    }
  }

  .pass_the_test_btn {
    @include btn_pass_the_test(transparent, #ffffff);
    border: 1px solid #ffffff;
    margin: 33px auto 0 auto;
    display: block;
  }

  .year_text {
    margin-top: 52px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    line-height: 23px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);

    svg {
      width: 10px;
      height: 10px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      vertical-align: text-top;
    }
  }
}

.question_box {
  position: fixed;
  overflow: scroll;
  padding: 63px 0 25px 0;
  box-sizing: border-box;
  top: 0;
  left: 0;
  background: #0d0c11;
  width: 100%;
  height: 100%;

  .container_question .content_question .img_question {
    display: none;

    &.active {
      display: inline-block;
    }
  }

  .text_radio {
    display: none;

    &.active {
      display: inline-block;
    }
  }

  .container_question {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .progress_test {
    width: 100%;
    height: 11px;
    flex-shrink: 0;
    background: #979797;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: #3bde7c;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }
  }

  .content_question {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .select_radio {
      width: 100%;
      margin-top: 38px;
      display: flex;
      flex-direction: column;
      gap: 8px;

      .item {
        display: flex;
        align-items: center;
        padding: 15px;
        background: rgba(242, 243, 243, 0.2);

        input[type="radio"] {
          display: none;

          & + label {
            flex-shrink: 0;
            cursor: pointer;
            vertical-align: middle;
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 1px solid #ffffff;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
          }

          &:checked + label {
            background: #2950c2;
          }
        }

        p {
          margin-left: 39px;
          vertical-align: middle;
          font-family: "PT Serif";
          font-weight: 400;
          font-size: 18px;
          color: #ffffff;
        }
      }
    }

    .select_radio_color {
      display: grid;
      margin-top: 20px;
      width: 100%;
      justify-content: space-between;
      gap: 20px 0;
      grid-template-columns: repeat(3, calc((100vw - 70px) / 3));
      grid-template-rows: repeat(3, calc((100vw - 70px) / 3));

      input[type="radio"] {
        display: none;

        & + label {
          width: 100%;
          height: 100%;
          flex-shrink: 0;
          display: block;
          cursor: pointer;
          border: 3px solid transparent;
        }

        &:checked + label {
          border-color: #ffc700;
        }
      }

      input[value="gray"] + label {
        background: #a8a8a8;
      }

      input[value="blue"] + label {
        background: #0000a9;
      }

      input[value="green"] + label {
        background: #00a701;
      }

      input[value="red"] + label {
        background: #f60100;
      }

      input[value="yellow"] + label {
        background: #fdff19;
      }

      input[value="brown"] + label {
        background: #a95403;
      }

      input[value="black"] + label {
        background: #000000;
      }

      input[value="violet"] + label {
        background: #850068;
      }

      input[value="light-blue"] + label {
        background: #46b3ac;
      }
    }

    .title_question {
      font-family: "PT Serif";
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      text-align: center;
      color: #ffffff;
    }
  }

  .next_question {
    align-self: center;
    margin-top: 15px;
    @include btn_pass_the_test(
      radial-gradient(50% 50% at 50% 50%, #ffc700 0%, #ffc700 100%),
      #0d0c11
    );

    &:disabled {
      @include btn_pass_the_test(#dadada, #8e8e8e);
      cursor: default;
    }
  }
}

.question_1 {
  .progress_test {
    &::before {
      content: "";
      width: 7%;
    }
  }
}

.question_2 {
  .progress_test {
    &::before {
      content: "";
      width: 14%;
    }
  }
}

.question_3 {
  .progress_test {
    &::before {
      content: "";
      width: 21%;
    }
  }
}

.question_4 {
  .progress_test {
    &::before {
      content: "";
      width: 28%;
    }
  }
}

.question_5 {
  .progress_test {
    &::before {
      content: "";
      width: 35%;
    }
  }
}

.question_6 {
  .progress_test {
    &::before {
      content: "";
      width: 42%;
    }
  }
}

.question_7 {
  .progress_test {
    &::before {
      content: "";
      width: 53%;
    }
  }
}

.question_8,
.question_11 {
  .progress_test {
    &::before {
      content: "";
      width: 65%;
    }
  }

  .content_question .img_question {
    max-width: 185px;
    display: inline-block;
    margin-top: 15px;
  }

  .content_question .select_radio {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;

    .item {
      position: relative;
      background: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      width: calc((100vw - 120px) / 4);
      height: calc((100vw - 120px) / 4);

      p {
        color: #000000;
        text-align: center;
        margin: 0;
      }

      input[type="radio"] + label {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border: 3px solid transparent;
      }

      input[type="radio"]:checked + label {
        background: transparent;
        border: 3px solid #ffc700;
      }
    }
  }
}

.question_9 {
  .progress_test {
    &::before {
      content: "";
      width: 73%;
    }
  }
}

.question_10 {
  .progress_test {
    &::before {
      content: "";
      width: 80%;
    }
  }

  .content_question .img_question {
    display: inline-block;
    margin-top: 15px;
    max-width: 173px;
  }
}

.question_11 {
  .progress_test {
    &::before {
      content: "";
      width: 90%;
    }
  }

  .content_question .img_question {
    max-width: 228px;
    display: inline-block;
    margin-top: 15px;
  }

  .content_question .select_radio .item {
    width: calc((100vw - 70px) / 6);
    height: calc((100vw - 70px) / 6);
  }
}

.results_processing {
  .progress_test {
    &::before {
      content: "";
      width: 99%;
    }
  }

  .container_question {
    justify-content: flex-start;

    .content_question {
      flex-grow: 0;
    }

    .content_question .title_question {
      font-family: "PT Serif";
      margin-top: 49px;
      font-weight: 400;
      font-size: 23px;
      line-height: 30px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
    }

    .content_question .text_bootom {
      font-family: "PT Serif";
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: #ffffff;
      text-align: left;
      width: 100%;
      margin-top: 27px;
    }

    .content_question .loading_gif {
      max-width: 70px;
      display: inline-block;
      margin-top: 33px;
    }
  }
}

.results_ready {
  .content_question {
    flex-grow: 0;

    .title_question {
      font-size: 15px;
    }

    .text_result {
      font-family: "PT Serif";
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      color: #ffffff;

      .underline {
        text-decoration: underline;
      }
    }

    .text_get_result {
      margin-top: 22px;
      font-family: "PT Serif";
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      text-transform: uppercase;
      color: #3bde7c;
    }

    .text_to_box {
      padding: 15px;
      font-family: "Roboto";
      font-weight: 500;
      font-size: 8px;
      line-height: 14px;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #ffffff;
    }

    .header_timer {
      font-family: "PT Serif";
      font-weight: 400;
      font-size: 11px;
      line-height: 30px;
      text-align: center;
      color: #3bde7c;
    }

    .timer {
      font-family: "PT Serif";
      font-weight: 400;
      font-size: 11px;
      line-height: 30px;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: lowercase;
      color: #3bde7c;

      .timer_js {
        font-size: 20px;
      }
    }

    .call_btn {
      cursor: pointer;
      margin-top: 6px;
      display: flex;
      align-items: center;
      border: none;
      background: #eb1b00;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      padding: 31px 15px;

      span {
        color: #ffffff;
        font-family: "Roboto";
        font-weight: 900;
        font-size: 15px;
        line-height: 18px;
        text-transform: capitalize;
        text-align: left;
      }

      svg {
        width: 29px;
        height: 29px;
        fill: #ffffff;
        display: inline-block;
        margin-right: 18px;
      }
    }
  }
}

.answer_data {
  .title_question {
    font-family: "PT Serif";
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #00a701;
  }
  div {
    text-align: center;
  }
  .text_item,
  .link {
    font-family: "PT Serif";
    font-weight: 400;
    font-size: 18px;
    line-height: 58px;
    text-align: center;
    color: #ffffff;
  }
  .link {
    line-height: 20px;
    color: #919191;
  }
  .box_links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 576px) {
  .container_question {
    margin: 0 auto;
  }

  .question_box .content_question .select_radio_color {
    grid-template-columns: repeat(3, calc((576px - 40px) / 3));
    grid-template-rows: repeat(3, calc((576px - 40px) / 3));
  }

  .question_8 {
    .content_question .select_radio .item {
      width: calc((576px - 250px) / 4);
      height: calc((576px - 250px) / 4);
    }
  }

  .question_11 {
    .content_question .select_radio .item {
      width: calc((576px - 200px) / 6);
      height: calc((576px - 200px) / 6);
    }
  }
}

@media screen and (min-width: 992px) {
  .burger_btn {
    &:hover > span,
    &:hover:before,
    &:hover::after {
      background: #f4ce0c;
    }
  }
}

@media screen and (min-width: 1430px) {
  .container {
    margin: 0 auto;
    width: 100%;
  }
}
